# Auto detect text files and perform LF normalization
* text=auto
Content/AtmosphericHouse/Textures/Multiuse/Exterior_concrete/T_Exterior_concrete_Normal.uasset filter=lfs diff=lfs merge=lfs -text
Content/AtmosphericHouse/Textures/Multiuse/Floor_wooden_B/T_Floor_wooden_B_worn_MultiMask.uasset filter=lfs diff=lfs merge=lfs -text
Content/AtmosphericHouse/Textures/Multiuse/Wall_exterior_brick/T_Wall_exterior_brick_clean_MultiMask.uasset filter=lfs diff=lfs merge=lfs -text
